.content {
    margin-top: 30px;
    display: flex;
}

.content_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.content_menu_input {
    width: 250px;
    height: 30px;
    padding: 5px 10px;
}

.content_menu_currency {
    text-transform: uppercase;
    font-weight: bold;
}

.content_panel {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 1px solid rgb(0, 0, 0);
    width: 1000px;
    min-height: 70vh;
    border-radius: 5px;
    padding: 20px 40px;
    gap: 10px;
}

.content_panel_purchase {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content_panel_purchase_text {
    width: fit-content;
    max-width: 30%;
    word-break: break-all;
    font-size: 22px;
}

.content_totalSum {
    margin: 5px 0 20px 0;
}

.content_totalSum_text {
    font-size: 20px;
}