.header{
    background-color: rgb(0, 0, 169);
}
.header_block{
    padding: 20px;
}
.header_block_link{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: 25px;
    font-weight: 600;
}